<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SafeNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SafeNotes.Properties.Settings>
            <setting name="setEntryText" serializeAs="String">
                <value />
            </setting>
            <setting name="setSaveDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setYourName" serializeAs="String">
                <value />
            </setting>
            <setting name="setLightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setEntriesHide" serializeAs="String">
                <value />
            </setting>
            <setting name="setLanguage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setUserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="setIsUserLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setEntriesShow" serializeAs="String">
                <value />
            </setting>
            <setting name="firstTimeOpened" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notepadSaveText" serializeAs="String">
                <value />
            </setting>
            <setting name="setControlX" serializeAs="String">
                <value />
            </setting>
            <setting name="setContrastTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </SafeNotes.Properties.Settings>
    </userSettings>
</configuration>